html, body {
	height: 100%;
  background-color: #ffffff;
  text-align: center;
  margin: 0;
}

* {
	font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

#app {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 4px;
}

div {
  padding: 20px 0 0;
  height: 100%;
}

button {
    font-size: 1em;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    font-family: impact;
    background-color: #98B4D4;
    color:#34568B;
    border: solid white 5px;
    border-radius: 5px;
}

footer {
    margin-top: 25em;
    margin-bottom: 2em;
    font-family: impact;
    color: #34568B;
}

footer p {
    margin: 0;
    font-family: impact;
}